<%- include("templates/header", {tituloWeb: 'Pagina de Inicio'}) %>
<body>
   <h1 class="text-center m-4">Proyecto Backend</h1>
   <h3 class="text-center m-2"><%= title %></h3>
   <div class="container p-4 text-center">
      <% if (rol == 'user') { %> 
         <div class="row">
            <div class="col">
               <a href="/crear-publicacion/<%= rol %> " class="btn btn-info">Crear Publicacion</a>
            </div>
            <div class="col">
               <a href="/publicaciones/<%= rol %> " class="btn btn-primary">Ver Publicaciones</a>
            </div>
            <!-- <div class="col">
               <a href="/publicaciones/" class="btn btn-success">Mis Publicaciones</a>
            </div> -->
         </div>
      <% } %> 
      <% if (rol == 'admin') { %> 
         <div class="row">
            <div class="col">
               <a href="/crear-publicacion/<%= rol %> " class="btn btn-info">Crear Publicacion</a>
            </div>
            <div class="col">
               <a href="/publicaciones/<%= rol %> " class="btn btn-primary">Ver Publicaciones</a>
            </div>
            <div class="col">
               <a href="/users/<%= rol %> " class="btn btn-warning">Editar Usuarios</a>
            </div>
            <div class="col">
               <a href="/users/<%= rol %> " class="btn btn-danger">Eliminar Usuarios</a>
            </div>
         </div>
      <% } %> 
   </div>
</body>
<%- include("templates/footer") %>