<%- include("templates/header", {tituloWeb: 'Crear Cita'}) %>
<body>
  <h1 class="text-center p-4"><%= title %></h1>
   <div class="container p-4">
      <form target="/crear-publicacion/<%= rol %>" method="POST" class="card card-body">
         <div class="form-group p-2">
            <label for="nombre">Nombre</label>
            <input id="nombre" type="text" name="nombre" class="form-control" placeholder="Tú Nombre" required/>
         </div>
         <div class="form-group p-2">
            <label for="apellido">Apellido</label>
            <input id="apellido" type="text" name="apellido" class="form-control" placeholder="Tú Apellido" required/>
         </div>
         <div class="form-group p-2">
            <label for="cedula">Cedula</label>
            <input id="cedula" type="number" name="cedula" class="form-control" placeholder="Tú Cedula" required/>
         </div>
         <div class="form-group p-2">
            <label for="edad">Edad</label>
            <input id="edad" type="number" min="6" max="85" name="edad" class="form-control" placeholder="Tú Edad" required/>
         </div>
         <div class="form-group p-2">
            <label for="fecha">Fecha</label>
            <input id="fecha" type="date" name="fecha" class="form-control" required/>
         </div>
         <div class="form-group p-2">
            <label for="hora">Hora</label>
            <input id="hora" type="time" name="hora" class="form-control" required/>
         </div>
         <input type="submit" value="Guardar Publicacion" class="btn btn-primary">
      </form>
      <% if (typeof error !== 'undefined') { %> 
         <h3 class="text-center p-4"><%= error %> </h3>
      <% } %> 
   </div>
</body>
<%- include("templates/footer") %>
