<%- include("templates/header", {tituloWeb: 'Crear Publicacion'}) %>
  <h2 class="text-center mt-5"><%= title %></h2>
   <div class="container">
      <form target="/crear-publicacion/<%= rol %>" method="POST" class="card card-body">
         <div class="form-group p-2">
            <label for="nombre">Nombre</label>
            <input id="nombre" type="text" name="nombre" class="form-control" placeholder="Tú Nombre" required/>
         </div>
         <div class="form-group p-2">
            <label for="apellido">Apellido</label>
            <input id="apellido" type="text" name="apellido" class="form-control" placeholder="Tú Apellido" required/>
         </div>
         <div class="form-group p-2">
            <label for="cedula">Cedula</label>
            <input id="cedula" type="number" name="cedula" class="form-control" placeholder="Tú Cedula" required/>
         </div>
         <div class="form-group p-2">
            <label for="titulo">Titulo</label>
            <input id="titulo" type="text" name="titulo" class="form-control" placeholder="Titulo" required/>
         </div>
         <div class="form-group p-2">
            <label for="contenido">Contenido</label>
            <input id="contenido" type="text" name="contenido" class="form-control" placeholder="Contenido" required/>
         </div>
         <input type="submit" value="Guardar Publicacion" class="btn btn-primary">
      </form>
      <% if (typeof error !== 'undefined') { %> 
         <h3 class="text-center p-4"><%= error %> </h3>
      <% } %> 
   </div>
</body>
<%- include("templates/footer") %>
