<%- include("templates/header", {tituloWeb: 'Publicaciones'}) %>
<body>
   <h1 class="text-center p-4"><%= title %></h1>
   <div class="container p-4">
      <div class="row">
         <% if (typeof publicaciones !== 'undefined') { %>
            <% if (publicaciones.length > 0) { %>
               <% publicaciones.forEach( publicacion => { %>
                  <div class="col-md-4 p-2">
                     <div class="card">
                        <div class="card-header">
                           <%= publicacion.NombrePublicacion %> <%= publicacion.ApellidoPublicacion %> - <%= publicacion.CedulaPublicacion %>
                        </div>
                        <div class="card-body">
                           <%= publicacion.EdadPublicacion %> / <%= publicacion.FechaPublicacion %> / <%= publicacion.HoraPublicacion %>
                        </div>
                        <div class="card-footer justify-content-around">
                           <a href="/borrar-publicacion/<%= publicacion.CedulaPublicacion %>/<%= rol %>" class="btn btn-danger"> Delete </a>
                           <a href="/editar-publicacion/<%= publicacion.CedulaPublicacion %>/<%= rol %>" class="btn btn-warning"> Editar </a>
                        </div>
                     </div>
                  </div>
               <% }) %>
            <% } else {%>
               <div class="container">No hay publicaciones creadas</div>
            <% } %>
         <% } else { %>
            <div class="container">No hay publicaciones para ver</div>
         <% } %>
      </div>
   </div>
</body>
<%- include("templates/footer") %>