<%- include("templates/header", {tituloWeb: 'Perfil'}) %>

   <h2 class="text-center mt-5"><%= title %></h2>
   <div class="container d-flex flex-row justify-content-around mt-4">
      <form target="/register/<%= rol %>" method="POST" class="card p-3" style="width: 50rem">
         <div class="form-group m-2">
            <label for="nombre">Nombre</label>
            <input id="nombre" type="text" name="nombre" class="form-control" placeholder="Tú Nombre" required/>
         </div>
         <div class="form-group m-2">
            <label for="apellido">Apellido</label>
            <input id="apellido" type="text" name="apellido" class="form-control" placeholder="Tú Apellido" required/>
         </div>
         <div class="form-group m-2">
            <label for="edad">Edad</label>
            <input id="edad" type="number" min="6" max="85" name="edad" class="form-control" placeholder="Tú Edad" required/>
         </div>
         <div class="form-group m-2">
            <label for="cedula">Cedula</label>
            <input id="cedula" type="number" name="cedula" class="form-control" placeholder="Tú Cedula" required/>
         </div>
         <div class="form-group m-2">
            <label for="email">Email</label>
            <input id="email" type="email" name="email" class="form-control" placeholder="correo@correo.com" required/>
         </div>
         <div class="form-group m-2">
            <label for="password">Password</label>
            <input id="password" type="password" name="password" class="form-control" placeholder="Tu Password" required/>
         </div>
         <% if ( rol === 'admin') { %> 
            <div class="form-group m-2">
               <label for="telefono">Telefono</label>
               <input id="telefono" type="text" name="telefono" class="form-control" placeholder="Tú Telefono"/>
            </div>
         <% } %> 
         <input type="submit" value="Crear Usuario" class="btn btn-dark m-2">
      </form>
      <% if (typeof error !== 'undefined') { %> 
         <h3 class="text-center p-4"><%= error %> </h3>
      <% } %> 
   </div>
</body>
<%- include("templates/footer") %>
