<%- include("templates/header", {tituloWeb: 'Editar Usuario'}) %>
<body>
  <h2 class="text-center mt-5"><%= title %></h2>
   <div class="container p-2">
      <form target="/editar-user/<%= users.Cedula %>/<%= rol %>" method="POST" class="card card-body">
         <div class="form-group p-2">
            <label for="nombre">Nombre</label>
            <input id="nombre" type="text" value=<%= users.Nombre %> name="Nombre" class="form-control" placeholder="Tú Nombre" required/>
         </div>
         <div class="form-group p-2">
            <label for="apellido">Apellido</label>
            <input id="apellido" type="text" value=<%= users.Apellido %> name="Apellido" class="form-control" placeholder="Tú Apellido" required/>
         </div>
         <div class="form-group p-2">
            <label for="edad">Edad</label>
            <input id="edad" type="number" min="6" max="85" value=<%= users.Edad %> name="Edad" class="form-control" placeholder="Tú Edad" required/>
         </div>
         <div class="form-group p-2">
            <label for="cedula">Cedula</label>
            <input id="cedula" type="number" value=<%= users.Cedula %> name="Cedula" class="form-control" placeholder="Tú Cedula" required/>
         </div>
         <div class="form-group p-2">
            <label for="email">Email</label>
            <input id="email" type="email" value=<%= users.Email %> name="Email" class="form-control" placeholder="correo@correo.com" required/>
         </div>
         <div class="form-group p-2">
            <label for="password">Password</label>
            <input id="password" type="password" value=<%= users.Password %> name="Password" class="form-control" required/>
         </div>
         <input type="submit" value="Editar Usuario" class="btn btn-dark">
      </form>
      <% if (typeof error !== 'undefined') { %> 
         <h3 class="text-center p-4"><%= error %> </h3>
      <% } %> 
   </div>
</body>
<%- include("templates/footer") %>
