<%- include("templates/header", {tituloWeb: 'Editar Publicacion'}) %>
<body>
  <h1 class="text-center p-4"><%= title %></h1>
   <div class="container p-4">
      <form target="/editar-publicacion/<% publicacion.Cedula %>/<%= rol %> " method="POST" class="card card-body">
         <div class="form-group p-2">
            <label for="nombre">Nombre</label>
            <input id="nombre" type="text" value=<%= publicacion.Nombre %> name="Nombre" class="form-control" placeholder="Tú Nombre" required/>
         </div>
         <div class="form-group p-2">
            <label for="apellido">Apellido</label>
            <input id="apellido" type="text" value=<%= publicacion.Apellido %> name="Apellido" class="form-control" placeholder="Tú Apellido" required/>
         </div>
         <div class="form-group p-2">
            <label for="cedula">Cedula</label>
            <input id="cedula" type="number" value=<%= publicacion.Cedula %> name="Cedula" class="form-control" placeholder="Tú Cedula" required/>
         </div>
         <div class="form-group p-2">
            <label for="titulo">Titulo</label>
            <input id="titulo" type="text" value=<%= publicacion.Titulo %> name="Titulo" class="form-control" placeholder="Titulo" required/>
         </div>
         <div class="form-group p-2">
            <label for="contenido">Contenido</label>
            <input id="contenido" type="text" value=<%= publicacion.Contenido %> name="Contenido" class="form-control" placeholder="Contenido" required/>
         </div>
         <input id="contador" type="text" value=<%= publicacion.Contador %> hidden name="Contador" class="form-control" required/>
         <input type="submit" value="Guardar Publicacion" class="btn btn-primary">
      </form>
   </div>
</body>
<%- include("templates/footer") %>
