<%- include("templates/header", {tituloWeb: 'Usuarios'}) %>
   <h2 class="text-center mt-5"><%= title %></h2>
   <div class="container p-2">
      <div class="row">
         <% if (typeof users !== 'undefined') { %>
            <% if (users.length > 0) { %>
               <% users.forEach( user => { %>
                  <div class="col-md-4 p-2">
                     <div class="card">
                        <div class="card-header text-center">Usuario: <%= user.ID %></div>
                        <div class="card-body">
                           <div class="col">Nombre: <%= user.Nombre %> <%= user.Apellido %></div>
                           <div class="col">Cedula: <%= user.Cedula %></div>
                           <div class="col">Edad: <%= user.Edad %></div>
                           <div class="col">Email: <%= user.Email %></div>
                        </div>
                        <div class="card-footer">
                           <div class="nav justify-content-around">
                              <a href="/borrar-usuario/<%= user.Cedula %>/admin" class="btn btn-danger"> Delete </a>
                              <a href="/editar-usuario/<%= user.Cedula %>/admin" class="btn btn-warning"> Editar </a>
                           </div>
                        </div>
                     </div>
                  </div>
               <% }) %>
            <% } else {%>
               <div class="container">No hay usuarios registrados</div>
            <% } %>
         <% } else { %>
            <div class="container">No hay usuarios para ver</div>
         <% } %>
      </div>
   </div>
</body>
<%- include("templates/footer") %>