<%- include("templates/header", {tituloWeb: 'Usuarios'}) %>
<body>
   <h1 class="text-center p-4"><%= title %></h1>
   <div class="container p-4">
      <div class="row">
         <% if (typeof users !== 'undefined') { %>
            <% if (users.length > 0) { %>
               <% users.forEach( user => { %>
                  <div class="col-md-4 p-2">
                     <div class="card">
                        <div class="card-header">
                           <%= user.NombreUser %> <%= user.ApellidoUser %> - <%= user.CedulaUser %> / <%= user.EdadUser %>
                        </div>
                        <div class="card-body">
                           <%= user.EmailUser %> / <%= user.PasswordUser %>
                        </div>
                        <div class="card-footer justify-content-around">
                           <a href="/borrar-usuario/<%= user.CedulaUser %>/admin" class="btn btn-danger"> Delete </a>
                           <a href="/editar-usuario/<%= user.CedulaUser %>/admin" class="btn btn-warning"> Editar </a>
                        </div>
                     </div>
                  </div>
               <% }) %>
            <% } else {%>
               <div class="container">No hay usuarios registrados</div>
            <% } %>
         <% } else { %>
            <div class="container">No hay usuarios para ver</div>
         <% } %>
      </div>
   </div>
</body>
<%- include("templates/footer") %>