<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title><%= tituloWeb %></title>

   <!-- CSS only -->
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
   <style>
      body{
         width: 100%;
         background: rgb(45,45,135);
         background: linear-gradient(90deg, rgba(45,45,135,0.9920343137254902) 25%, rgba(148,235,205,1) 100%);
      }
      .diseñadores{
         display: flex;
         align-items: center;
      }
      .diseñadores p {
         margin: 0 0.5rem;
      }
      .bg-azul{ background-color: #A4DDED}
      .content li:nth-child(odd) { 
         background-color: #8FBDD3; 
      }
      .content li{list-style: none; padding: 1rem;}
   </style>
</head>

<body>
   <div class="container p-4 text-center">
      <nav class="navbar fixed-top navbar-expand-lg navbar-dark p-md-3 " style="background: linear-gradient(90deg, rgba(0,45,98,1) 0%, rgba(0,71,146,1) 100%)">
         <div class="container">
            <a class="navbar-brand text-white" href="/<%= rol %>"><i class="fa-solid fa-house me-2"></i>ASAL</a>
            <button
               class="navbar-toggler"
               type="button"
               data-bs-toggle="collapse"
               data-bs-target="#navbarNav"
               aria-controls="navbarNav"
               aria-expanded="false"
               aria-label="Toggle navigation"
            >
               <span class="navbar-toggler-icon"></span>
            </button>
      
            <div class="collapse navbar-collapse" id="navbarNav">
               <div class="mx-auto"></div>
               <ul class="navbar-nav">
                  <% if (rol == 'user') { %> 
                     <li class="nav-item">
                        <a class="nav-link text-white" href="/crear-publicacion/<%= rol %>">Crear Publicacion</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link text-white" href="/publicaciones/<%= rol %>">Ver Publicaciones</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link text-white" href="/perfil/29694896/<%= rol %>">Perfil</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link text-white" href="#"><i class="fa-solid fa-power-off"></i></a>
                     </li>
                  <% } %> 
                  <% if (rol == 'admin') { %> 
                     <li class="nav-item">
                        <a class="nav-link text-white" href="/crear-publicacion/<%= rol %>">Crear Publicacion</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link text-white" href="/publicaciones/<%= rol %>">Ver Publicaciones</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link text-white" href="/crear-admin/<%= rol %>">Crear Administrador</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link text-white" href="/users/<%= rol %>">Ver Usuarios</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link text-white" href="/perfil/29694896/<%= rol %>">Perfil</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link text-white" href="#"><i class="fa-solid fa-power-off"></i></a>
                     </li>
                  <% } %>
               </ul>
            </div>
         </div>
      </nav>
   </div>